body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #47b6ff;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.author {
  background: #fff;
  padding: 2px 0;
  border-radius: 10px;
}

.author p {
  font-family: sans-serif;
}
